body {
    margin-left: 15px;
}

nav {
    margin-left: 25px;
}

.nav {
    display: flex;
    flex-direction: row;

}


.comment-indent {
    margin-left: 16px;
}


.first-child-comment {
    margin-left: 24px;

}

.second-child-comment {
    margin-left: 32px;
}



/*--------------------------------
--------------POSTS-SHOW SECTION-------
-----------------------------------*/

.voting-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
